@media (max-width: 600px) {
    img.standalonepicture {
        display: none;
    }
}

.nav-link {
    color: #FFF100;

}

.navbar-nav .nav-link.active {
    color: white;
}

h1,
h2 {
    text-align: center;
    color: #006634;
}

#h6register {
    text-align: center;
    color: #006634;
}

.navbar {
    background-color: #006634;
}

footer,
address {
    text-align: center;
    background-color: #006634;
    color: #FFF100;
}

footer a {
    color: white;
}

.nav-item {
    font-family: Montserrat, HelveticaNeue, "Helvetica Neue", sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
}

.card img {
    border: 1px solid #006634;
}

.card {

    border: 1px solid #006634;
}

#signup {
    color: #006634;
}

.btn {
    background-color: #006634;
    color: #FFF100;

}

.btn:hover {
    color: #FFF100;
    background-color: rgb(3, 184, 3);
    border: black solid 2px;
}

.btn-primary.active {
    background-color: #0b51c5 !important;
}

.form-check .form-check-input {
    margin-left: 0rem;
    padding-left: 0em;
}

.form-check.form-check-inline {
    padding-left: 1em;
}

.navbar-toggler {
    border-color: #FFF100;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 241, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.form-control {
    border: 1px solid #006634;
}

table,
th,
td,
tr {
    border: 2px solid #006634;
}

.site-header {
    background-image: url(/images/siteimages/background_1024x.webp);
}

.fa-shopping-cart {
    font-size: 4rem;
    color: #006634;
}

.fa-shopping-cart:hover {
    color: #FFF100
}

header a {
    color: #006634;
    font-family: Montserrat, HelveticaNeue, "Helvetica Neue", sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
}

header a:hover {
    color: #FFF100;
}

.fa-twitter,
.fa-google-plus,
.fa-youtube,
.fa-linkedin,
.fa-facebook {
    padding-right: 1rem;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23006634' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;

}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23006634' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel .carousel-indicators button {
    background-color: #006634
}

.carousel .carousel-indicators button.active {
    background-color: #FFF100;
}